@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.card-box {
  background-color: #fff;
  font-family: "Poppins", sans-serif;
  width: 350px;
  height: 450px;
  border: 1px solid black;
  border-radius: 10px;
  margin: auto;
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.2);
}

.card-box:hover {
  box-shadow: 0px 1px 35px 0px rgba(0,0,0,0.40);
}
.card-box .image {  
  background: #000;
  height: 200px;  
  overflow: hidden;
}
.image img {
  height: 100%;
  width: 100%;
  border-radius: 10px 10px 0px 0px;
  transition: 0.3s;
}
.card-box .content {
  bottom: 0px;
  text-align: center;
  padding: 10px 10px;
}
.content .title {
  font-size: 20px;
  font-weight: 600;
  color: #333;
}
.content .sub-title {
  font-size: 18px;
  font-weight: 500;
  color: #e74c3c;
}
.bottom p {
  text-align: center;
  color: #666;
  font-size: 13px;
  text-align: justify;
  line-height: 1.8em;
  margin: 0 auto;
}
.bottom span {
  text-align: center;
  color: #00CC00;
  font-weight: bold;
}
.bottom button {
  text-align: center;
  padding: 7px 15px;
  margin: 5px;
  font-size: 15px;
  background: #e74c3c;
  color: white;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease;
}
.bottom button:hover {
  transform: scale(0.9);
  background: #e64533;
}

@media only screen and (max-width: 1250px) {
  .card-box .image {  
    height: 165px;  
  }
  .card-box {
    width: 330px;
    height: auto;
  }
  .content .title {
    font-size: 17px;
    font-weight: 600;
  }
  .content .sub-title {
    font-size: 15px;
    font-weight: 300;
  }
  .bottom p {
    font-size: 11px;
    line-height: 1.8em;
    margin: 0 auto;
  }
  .bottom span {
    font-size: 13px;
  }
  .bottom button {
    margin: 5px;
  }
}

@media only screen and (max-width: 500px) {
  .card-box {
    width: 300px;
    height: 430px;
  }
}



.card-enter {
  opacity: 0;
  transform: translateX(150px);
}
.card-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 500ms ease;
}
.card-exit {
  opacity: 0;
}
