@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.legend .tooltip {
  position:relative;  
  height: 50px;
}

.legend .tooltip p {
  display: inline;
}

.legend .tooltip h3 {
  font-family: "Poppins", sans-serif;
  color: red;
  margin: 0;
}

.legend .tooltip p {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  color: black;
  list-style: none;
  margin: 0 10px 10px 10px;
}

.legend .tooltip p img {
  width: 25px;
  margin: 0 5px 0 -20px;
  vertical-align: middle;
}

.legend .tooltip .bottom {
  min-width:200px;
  top:45px;
  left:50%;
  transform:translate(-50%, 0);
  padding:10px;
  color: black;
  background-color:#EEEEEE;
  border-radius:8px;
  position:absolute;
  z-index:99999999;
  box-sizing:border-box;
  box-shadow:0 1px 8px rgba(0,0,0,0.5);
  display:none;
}

.legend .tooltip:hover .bottom {
  display:block;
}

.legend .tooltip .bottom i {
  position:absolute;
  bottom:100%;
  left:50%;
  margin-left:-12px;
  width:24px;
  height:12px;
  overflow:hidden;
}

.legend .tooltip .bottom i::after {
  content:'';
  position:absolute;
  width:12px;
  height:12px;
  left:50%;
  transform:translate(-50%,50%) rotate(45deg);
  background-color:#EEEEEE;
  box-shadow:0 1px 8px rgba(0,0,0,0.5);
}

@media only screen and (max-width: 1200px) {
  .legend .tooltip .bottom {
    min-width: 120px;
    padding: 5px;
  }
  .legend .tooltip h3 {
    font-size: 13px;
  }
  .legend .tooltip p {
    font-size: 10px;
    margin: 0 5px 15px 5px;
  }
  .legend .tooltip p img {
    width: 20px;
    margin: 5px;
    vertical-align: middle;
  }
}