@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.styled-checkbox {
  position: absolute;
  opacity: 0;
}
.checkbox label {
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  font-weight: 600;
}
.styled-checkbox + label {
  position: relative;
  cursor: pointer;
  padding: 0;
}
.styled-checkbox + label:before {
  content: "";
  margin-right: 10px;
  display: inline-block;
  vertical-align: text-top;
  width: 30px;
  height: 30px;
  background: white;
}
.styled-checkbox:hover + label:before {
  background: #f35429;
}
.styled-checkbox:focus + label:before {
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
}
.styled-checkbox:checked + label:before {
  background: #f35429;
}
.styled-checkbox:disabled + label {
  color: #b8b8b8;
  cursor: auto;
}
.styled-checkbox:disabled + label:before {
  box-shadow: none;
  background: #ddd;
}
.styled-checkbox:checked + label:after {
  content: "✓";
  color: #fff;
  position: absolute;
  left: 6px;
  top: -3px;
}